
.footer-copyright-section {
    background-color: rgba(0, 0, 0, 0);;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 90px;
    color: white;
}

.icon-footer {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: white;
}
